.App {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 30%;
  margin: 12px 12px;
  border: 1px gray solid;
  border-radius: 5px;
}
