body {
  background-color: silver;
  font-family: montserrat, sans-serif;
}

.title {
  margin-bottom: 50px;
}

.title h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 2px;
}

.title h2 {
  font-size: 15px;
  text-align: center;
}

.article {
  margin: 10px 200px;
  text-align: justify;
}